In [4]:
#web scraping (veri çekme) 
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [5]:
response = requests.get("https://webscraper.io/test-sites/tables").text

In [7]:
#html tagına göre işlem
soup = BeautifulSoup(response,'html.parser')

In [8]:
data = [] #liste oluşturma
for row in soup.find_all('tr'):
    row_data = []
    for cell in row.find_all('td'):
        row_data.append(cell.text)
    data.append(row_data)

In [9]:
data

[[],
 ['1', 'Mark', 'Otto', '@mdo'],
 ['2', 'Jacob', 'Thornton', '@fat'],
 ['3', 'Larry', 'the Bird', '@twitter'],
 [],
 ['4', 'Harry', 'Potter', '@hp'],
 ['5', 'John', 'Snow', '@dunno'],
 ['6', 'Tim', 'Bean', '@timbean']]

In [14]:
df = pd.DataFrame(data, columns = ['id','firstname', 'lastname', 'username']).dropna(subset = 'id')

In [15]:
df

  id firstname  lastname  username
1  1      Mark      Otto      @mdo
2  2     Jacob  Thornton      @fat
3  3     Larry  the Bird  @twitter
5  4     Harry    Potter       @hp
6  5      John      Snow    @dunno
7  6       Tim      Bean  @timbean

In [56]:
#data çekme
response_iki = requests.get('https://webscraper.io/test-sites/e-commerce/more').text

In [57]:
soup_iki = BeautifulSoup(response_iki, 'html.parser')

In [58]:
data_list = []
for row in soup_iki.find_all('div', {'class':'col-md-4 col-xl-4 col-lg-4'}):
    product_price = row.find('h4', {'class':'price float-end card-title pull-right'}).text
    product_title = row.find('a', {'class': 'title'}).text
    product_description = row.find('p', {'class':'description card-text'}).text
    review_count = str(row.find('div', {'class':'ratings'}).find('p').text.split(" ")[0])
    data_list.append({
        'product_title':product_title,
        'product_price':product_price,
        'product_decription':product_description,
        'review_count': review_count
    })

In [59]:
data_list

[{'product_title': 'Asus VivoBook...',
  'product_price': '$468.56',
  'product_decription': 'Asus VivoBook 15 X540UA-DM260 Chocolate Black, 15.6" FHD, Core i3-6006U, 4GB, 256GB SSD, Endless OS, En kbd',
  'review_count': '1'},
 {'product_title': 'Apple MacBook...',
  'product_price': '$1260.13',
  'product_decription': 'Apple MacBook Air 13", i5 1.8GHz, 8GB, 256GB SSD, Intel HD 6000, ENG',
  'review_count': '8'},
 {'product_title': 'Asus AsusPro A...',
  'product_price': '$1139.54',
  'product_decription': 'Asus AsusPro Advanced BU401LA-FA271G Dark Grey, 14", Core i5-4210U, 4GB, 128GB SSD, Win7 Pro 64bit, ENG',
  'review_count': '7'}]

In [60]:
df2 = pd.DataFrame(data_list)

In [62]:
df2

,product_title,product_price,product_decription,review_count
0,Asus VivoBook...,$468.56,"Asus VivoBook 15 X540UA-DM260 Chocolate Black,...",1
1,Apple MacBook...,$1260.13,"Apple MacBook Air 13"", i5 1.8GHz, 8GB, 256GB S...",8
2,Asus AsusPro A...,$1139.54,Asus AsusPro Advanced BU401LA-FA271G Dark Grey...,7

In [63]:
#medipol üni etkinlik sayfası etkinlik çekme
response_uc = requests.get('https://www.medipol.edu.tr/etkinlikler').text

In [64]:
soup_uc = BeautifulSoup(response_uc, 'html.parser')

In [65]:
data_list2 = []
for row in soup_uc.find_all('div',{'class': 'col-lg-4 col-md-6 col-sm-6 list-card'}):
    event = row.find('div', {'class':'event-item'}).find('h2').text
    date = row.find('span', {'class':'date'}).text
    data_list2.append({
        'Etkinlik adı': event,
        'Tarih' : date
    })

In [66]:
df3=pd.DataFrame(data_list2)

In [67]:
df3

                                         Etkinlik adı       Tarih
0   XXXI. Deney Hayvanları Kullanım Sertifikası Eğ...  04.07.2024
1                                Hayalimdeki İstanbul  22.05.2024
2     14 Mayıs Eczacılık Fakültesi Önlük Giyme Töreni  14.05.2024
3    4. ALGI ve FARKINDALIK ULUSAL ECZACILIK KONGRESİ  10.05.2024
4           Farmasötik Biyoteknolojide Güncel Konular  06.05.2024
5                                       WIE Event 24'  03.05.2024
6                                Seri Katilin Analizi  02.05.2024
7   XXXII. Deney Hayvanları Kullanım Sertifikası E...  01.05.2024
8                        En İyi Reklam Filmi Aranıyor  30.04.2024
9                                 Reklamcılık Zirvesi  30.04.2024
10               Fizyoterapide Kariyer Günü Etkinliği  29.04.2024
11         2.Medkon Uluslararası Tıp Öğrenci Kongresi  27.04.2024